<a href="https://colab.research.google.com/github/NotAndex/Demo/blob/main/time_series_feature_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 0

# 1 Setup

In [14]:
!pip install yfinance
import yfinance as yf

import numpy as np
import pandas as pd
import datetime

from tensorflow.keras.utils import to_categorical

Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.59)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)

# 2 Data

In [ ]:
today = datetime.date.today()
start_date = today - datetime.timedelta(days=365*3)
symbol = 'BTC-USD'

cc_data = yf.download(symbol, start=start_date, end=today)
cc_data.reset_index(inplace=True,col_fill=('Date'))

#3 Feature engineering examples

## 3.1 Date dependent features

In [ ]:
cc_data['year'] = cc_data['Date'].dt.year 
cc_data['quarter'] = cc_data['Date'].dt.quarter 
cc_data['month'] = cc_data['Date'].dt.month 
cc_data['week'] = cc_data['Date'].dt.isocalendar().week 
cc_data['day'] = cc_data['Date'].dt.day
cc_data['wday'] = cc_data['Date'].dt.dayofweek

cc_data

In [17]:
monthCat = pd.DataFrame(to_categorical(cc_data.loc[:,['month']]))
cc_data = pd.concat([cc_data,monthCat.loc[:,1:]],axis=1)

cc_data

           Date          Open          High           Low  ...    9   10   11   12
0    2018-06-03   7632.089844   7754.890137   7613.040039  ...  0.0  0.0  0.0  0.0
1    2018-06-04   7722.529785   7753.819824   7474.040039  ...  0.0  0.0  0.0  0.0
2    2018-06-05   7500.899902   7643.229980   7397.000000  ...  0.0  0.0  0.0  0.0
3    2018-06-06   7625.970215   7680.430176   7502.009766  ...  0.0  0.0  0.0  0.0
4    2018-06-07   7650.819824   7741.270020   7650.819824  ...  0.0  0.0  0.0  0.0
...         ...           ...           ...           ...  ...  ...  ...  ...  ...
1087 2021-05-29  35684.156250  37234.500000  33693.929688  ...  0.0  0.0  0.0  0.0
1088 2021-05-30  34607.406250  36400.667969  33520.738281  ...  0.0  0.0  0.0  0.0
1089 2021-05-31  35658.593750  37468.250000  34241.945312  ...  0.0  0.0  0.0  0.0
1090 2021-06-01  37293.792969  37896.734375  35787.085938  ...  0.0  0.0  0.0  0.0
1091 2021-06-02  36628.566406  37410.707031  36036.406250  ...  0.0  0.0  0.0  0.0

[1092 rows x 49 columns]

# 3.2 Technical features (Indicators **$f_{x}$**)

# 3.3 External Features
e.g Sentinment